.App {
  background-attachment: fixed; /* on fixe l'image */
  background-position: center;
  background-repeat: repeat;
  background-color: #fafafa;
  padding-top: 4rem; /* pour éviter de cacher la carte */
  min-height: 100vh; /* ça fait que app prend toute la page */
}